.input-group.quantity-input-group {
    display: flex;
    align-items: center;
    width: 70%; /* Reduce width by 30% */
}

.input-group.quantity-input-group .form-control {
    text-align: center;
    width: 60px;
}

.input-group.quantity-input-group .btn {
    height: auto; /* Ensure the height matches the "Add to Cart" button */
}

.a-submit {
    height: auto; /* Ensure the height matches the quantity buttons */
}